body {
	background: url(../images/bg1.jpeg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

#display {
	margin-top: 20px;
	padding: 20px;
	font-size: 47px;
	font-family: 'Crete Round', serif;
	text-shadow: 1px 1px 2px black;
}
#btnquote {
	border:1px solid black;
	background-color: rgba(100,100,100,0.1);
	padding: 5px 8px;
	font-family: 'Lora', serif;
}
#header {
	padding: 10px 0;
	font-size: 20px;
	font-family: 'Lora', serif;
}
#qOfTheDay {
	font-size: 30px;
	font-family: 'Lora', serif;
	padding: 20px 0;
}
